

  #TimeLineApp {
    width: 80%;
    height: 50%;
    overflow: scroll; /* Hide any content that exceeds the container's size */
    background: #FFFFFF;
    margin: 0 auto;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
  }
  
  .canvas-container {
    width: 100%; /* The canvas-container takes the full width of the parent */
    height: 100%; /* The canvas-container takes the full height of the parent */
    /* Enable scrolling for the canvas-container */
  }
  
  #TimeLineApp canvas {
    width: var(--canvas-width); /* Set the desired width for the canvas */
    height: 600px; /* Set the desired height for the canvas */
    
  }