#TimeLineApp{
    width:75%;
    height: 50%;
    /* width: 400px;
    height: 500px; */
    background: #FFFFFF;
    margin: 0 auto;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    overflow: scroll;
        
}


#TimeLineApp canvas {
    width: 200%;
    height: 200%;
  }